* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root {
  --button-color: #712cf9;
  --main-bg-color: #DBDFFD;
}


/* ******************************* Navbar ******************************* */

body {
  background-color: var(--main-bg-color);
}

header {
  height: 100vh;
}

header .navbar {
  display: flex;
  flex-direction: column;
  width: 15%;
  height: 100vh;
  /* background-color: cadetblue; */
  justify-content: flex-start;
  border: 1px solid slategray;
  border-radius: 8px;
  gap: 2rem;
  background-color: aliceblue;
}

.navbar .navbar-item a {
  padding-left: 10px;
  text-align: left;
}

header button {
  width: 90%;
  font-size: 1.2rem;
  border: 1px solid slategray;
  border-radius: 10px;
  background-color: var(--button-color);
  color: antiquewhite;
  margin-top: 0;
}


header li {
  text-align: left;

}

header a {
  text-decoration: none;
  font-size: 1.3rem;
  text-align: start;
}


#time {
  width: 15%;
  border-radius: 10px;
  background: #4B91FD;
  background: -moz-linear-gradient(left, #4B91FD 0%, #A49A89 50%, #C5B4B8 100%);
  background: -webkit-linear-gradient(left, #4B91FD 0%, #A49A89 50%, #C5B4B8 100%);
  background: linear-gradient(to right, #4B91FD 0%, #A49A89 50%, #C5B4B8 100%);
  position: absolute;
  right: 0;
  top: 0;

}


/* ******************************* Main ******************************* */

main {
  width: 70%;
  float: right;
  margin-top: 0;
  position: absolute;
  top: 30px;
  left: 18%;
}

main a i {
  margin: 10px 0 0 100px;
}

main .search {
  margin-left: 300px;
}

#title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  font-size: 42px;
  text-shadow: 1px 2px 3px #666;
}

#todo input:focus,
#todo textarea:focus {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background-color: wheat;
}


@media screen and (max-width:1028px) {
  #time {
    display: none;
  }

}

@media screen and (max-width:768px) {
  h1 {
    font-size: 36px;
  }

  header button {
    font-size: 0.6rem;
  }

  header a {
    display: none;
  }


}


/* ******************************* Pop up Form ******************************* */
form .font-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

form #close {
  position: absolute;
  top: 0;
  right: 0;
}