* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
}

:root {
  --main-bg-color: #F7EDDB;
}


/* ******************************* Navbar ******************************* */

body {
  background-color: var(--main-bg-color);
}

header {
  height: 100vh;
}

header .navbar {
  display: flex;
  flex-direction: column;
  width: 10%;
  height: 100vh;
  justify-content: flex-start;
  border: 1px solid slategray;
  border-radius: 8px;
  gap: 3rem;
  background-color: aliceblue;
}

.navbar .navbar-item a {
  padding-left: 10px;
  text-align: left;
}

header button {
  width: 90%;
  font-size: 1.2rem;
  border: 1px solid slategray;
  border-radius: 10px;
  color: antiquewhite;
  margin-top: 0;
}


header a {
  text-decoration: none;
  font-size: 1.3rem;
  text-align: start;
  padding: 10px;
}


#time {
  width: max-content;
  border-radius: 8px;
  background: #4B91FD;
  background: -moz-linear-gradient(left, #4B91FD 0%, #A49A89 50%, #C5B4B8 100%);
  background: -webkit-linear-gradient(left, #4B91FD 0%, #A49A89 50%, #C5B4B8 100%);
  background: linear-gradient(to right, #4B91FD 0%, #A49A89 50%, #C5B4B8 100%);
  position: absolute;
  right: 0;
  top: 0;

}


/* ******************************* Main ******************************* */

main {
  width: 70%;
  float: right;
  margin-top: 0;
  position: absolute;
  top: 30px;
  left: 20%;
}

main a i {
  margin: 10px 0 0 100px;
}

main .search {
  margin-left: 300px;
}

#title {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
  font-size: 42px;
  text-shadow: 1px 2px 3px rgb(11, 10, 10);
  width: max-content;
  margin: 0 auto;
  padding: 30px;
  color: #90C8AC;
}



#todo:hover,
#progress:hover,
#review:hover,
#done:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}


#todo textarea:hover,
#progress textarea:hover,
#review textarea:hover,
#done textarea:hover,
button:hover {
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background-color: #90C8AC;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  cursor: pointer;
}

@media screen and (max-width:1200px) {
  #time {
    width: max-content;
    font-size: 18px;
  }

  header .navbar {
    width: 15%;
  }

  header button {
    font-size: 20px;
    text-align: start;
  }

  header a {
    font-size: 20px;
    padding: 10px;
  }


}


@media screen and (max-width:768px) {


  header .navbar {
    width: 25%;
  }

  h1 {
    font-size: 36px;
    padding: 10px;
  }

  header button {
    font-size: 0.6rem;
  }

  header a {
    font-size: 15px;
  }

  header button {
    font-size: 0.7rem;
  }

  main {
    position: absolute;
    top: 30px;
    left: 28%;
  }

  #title {
    font-size: 32px;
    margin-bottom: 30px;
  }

  #time {
    display: none;
  }

}

@media screen and (max-width:480px) {
  header .navbar {
    width: 30%;
  }

  h1 {
    font-size: 32px;
    padding: 10px;
  }

  header button {
    font-size: 0.4rem;
  }

  header a {
    font-size: 16px;
  }


  header button {
    font-size: 0.7rem;
  }

  main {
    position: absolute;
    top: 30px;
    left: 35%;
  }


}



/* ******************************* Pop up Form ******************************* */
form .font-icon {
  position: absolute;
  top: 10px;
  right: 10px;
}

form #close {
  position: absolute;
  top: 0;
  right: 0;
}


form {
  color: #5B84B1FF;
}